<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")

  body
    iframe.frame

    script(type="text/javascript", src="target-url.js")
    script(type="text/javascript", src="js/build/main.js")
